body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
p {
  display: block;
}
figure {
  width: 100%;
  height: auto;
}

figure img {
    width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
header {
  flex: 0 0 122px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#menu .logo {
    flex: 0 0 50%;
    display: inline-block;
    vertical-align: top;
}

nav#menu {
    width: 100%;
}
#menu {
    flex: 0 0 auto;
    display: flex;
    padding: .5em 0 0 .5em;
    flex-direction: row;
}
#wide-side {
  flex: 2 0 0;
  overflow-y: auto;
  border-right: 3px solid black;
}
#thin-side {
  flex: 1 0 0;
  padding: 20px 30px;
  max-height: 100%;
  overflow-y: auto;
  position: relative;

}
.footer-signature {
  font-weight: bold;
  font-style: italic;
}

/* /// to change inot more generic */
#page-container {
  display: flex;
  flex-direction: row;
  border-top: 3px solid black;
  padding: 0px;
  flex: 1 0;
}
#page-container > *{
  padding: 20px 30px;
}
#page-list li {
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.3em;
}
#page-info {
  margin-top: 50px;
}
#page-info p {
     display: block;
}
h2,
.venue-name {
  font-family: "Syne";
  font-weight: 900;
  font-size: 1.4em;
}

h3 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.02em;
  line-height: 1.2em;
 }
 h3,
.venue-name + .venue-name-room {
   margin-top: 3pt;
 }
h3 + p,
h2 + p {
   margin-top: 5pt;
 }
 p + h2,
 p + h3 {
   margin-top: 12pt;
 }
#wide-side > p {
  font-family: "LM";
  font-size: 1.3em;
  line-height: 1.1em;
}
#wide-side p + p {
    margin-top: 12pt;
}
#page-list a.active {
  margin-left: 20px;
  border-bottom: 3px solid var(--yellow-moon);
}
#page-list a.active:hover {
  text-decoration: none;
}
footer {
  margin-top: 12pt;
}
