body {
  padding-left: 0px;
}
body > * {
    padding: 20px;
}
p {
display: inline-block;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
figure {
  width: 100%;
  height: auto;
}

figure img {
    width: 100%;
}
header {
  flex: 0 0 122px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
ul {
   margin: 0;
   padding: 0;
 }
 object {
  flex: 0 0 0;
  margin: auto;
 }
#menu .logo {
    flex: 0 0 50%;
    display: inline-block;
    vertical-align: top;
}

nav#menu {
    width: 100%;
}
#menu {
    flex: 0 0 auto;
    display: flex;
    padding: .5em 0 0 .5em;
    flex-direction: row;
}
#menu ul {
    list-style-type: none;
    display: inline-block;
    position: relative;
    right: 0;
}
#menu .logo {
    width: 16%;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
  flex: 1 0;
}
main nav ul li {
    margin-bottom: 10px;
    font-size: 0.85em;
}
main nav ul {
  line-height: 0.9em;
}
#contributors-list li {
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.3em;
}

#contributors-timeline {
  padding: 0px;
  border-bottom: 3px solid black;
}
#contributors-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  flex: 1 0 0;
}
#contributors-list {
  flex: 1 0 0;
  overflow-y: auto;
  padding: 20px 40px;
  border-left: 3px solid black;
}
.contributors-detail {
  flex: 2 0 0;
  padding: 20px 40px;
  font-family: "LM";
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.1em;
}
.bio-infos-meta {
  font-weight: bold;
}
.bio-infos-meta a:before {
  font: 1em 'Contour';
  content: ' \00A0\004E';
  display: inline-block;
  font-size: 0.7em;
  margin-right: 4px;
}
#contributors-list a.active {
  margin-left: 20px;
  border-bottom: 3px solid var(--yellow-moon);
}
#contributors-list a.active:hover {
  text-decoration: none;
}







#venue-photo {
  flex: 2 0 0;
  /* height: 100%; */
  display: flex;
  border-right: 3px solid black;

}
#venue-detail-text {
  flex: 1 0 0;
  padding: 20px 30px;
  max-height: 100%;
  overflow-y: auto;
  position: relative;

}
#venue-container {
  display: flex;
  /* flex-direction: row; */
  /* width: 120%; */
  /* position: absolute; */
  /* right: 0px; */
  /* height: 100%; */
  border-top: 3px solid black;
  padding: 0px;
  flex: 1 0;
  /* overflow: hidden; */
}

#venue-list li {
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.3em;
}
#venue-info {
  margin-top: 50px;
}
#venue-info p {
     display: block;
}
.venue-name {
  font-family: "Syne";
  font-weight: 900;
  font-size: 1.4em;
}

.venue-name-room,
.venue-adress {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.02em;
  line-height: 1.2em;
 }
.venue-name + .venue-name-room {
   margin-top: 3pt;
 }
#venue-list a.active {
  margin-left: 20px;
  border-bottom: 3px solid var(--yellow-moon);
}
#venue-list a.active:hover {
  text-decoration: none;
}
