@font-face {
    font-family: Lack;
    src: url("fonts/Lack/Lack-Regular.otf");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: Syne;
    src: url("fonts/webfonts/Syne-Regular.woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Syne;
    src: url("fonts/webfonts/Syne-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Syne;
    src: url("fonts/webfonts/Syne-Extra.woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Ranchers;
    src: url("fonts/Ranchers-v1/Ranchers-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: LM;
    src: url("fonts/LatinModernRoman/lmroman10-regular.otf");
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: LM;
    src: url("fonts/LatinModernRoman/lmroman10-italic.otf");
    font-weight: regular;
    font-style: italic;
}
@font-face {
    font-family: LM;
    src: url("fonts/LatinModernRoman/lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Contour;
    src: url("fonts/Contour.ttf");
    font-weight: regular;
    font-style: normal;
}

:root {
  --blue-moon: #445fff;
  --goldy: #ca9c73;
  --green-moon: #8ec0b8;
  --yellow-moon: #fff700;
  --pink: #f66758;
  --yellow:#ffd400;
}

body {
  font-family: 'Lack';
  font-size: 1.2em;
  line-height: 1.3em;
  color: black;
  padding: 20px;
  overflow: hidden;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border: 3px solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
main {
      margin-top: 50px;
}
p{
  display: inline;
      margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
figure, dl {
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: underline;
}
#left {
width: 33%;
}
#menu {
  margin: 0 !important;
  height: auto;
  position: fixed;
  left: 0;
  top: 0pt;
  width: 30%;
  z-index: 1000;
  padding: 20px;

}
#menu .logo {
  display: inline-block;
  vertical-align: top;
  width: 54%;
}
#menu img {
  width: 86%;
  margin: 0;
  padding: 0;
}
#menu ul {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  right: 0;
}

#menu li {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.1em;
}

#menu a,
.button a{
  font-family: 'Syne';
  font-weight: bold;
  font-size: 0.95em;
  letter-spacing: 0.03em;
}

/* event detail */

.event p {
      margin-right: 10px;
      line-height: 1.2em;
}
.date {
  font-family: 'Syne';
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.1em;
}
.event p.date {
  display: none;
}

.hour{
  text-transform: uppercase;
  font-family: 'Lack';
}
.type {
  font-family: 'LM';
  font-style: italic;
  font-size: 1.1em;
}

.venue {
  font-family: 'Lack';
}

.contributor {
  font-family: 'Lack';
}

.title {
  font-family: 'syne';
  font-weight: 900;
  font-size: 1em;
}


/* agenda */




section.content-day {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  top: 0;
  background-image: linear-gradient(to right, white, var(--blue-moon));
  border-left: 3px solid black;
}
section.content-continious {
  flex: 1 0 66%;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, white 40%, var(--blue-moon));
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 100%;
  margin-left: 22px;

}
section.content-continious::before {
  content: url("img/arrow.png");
  position: absolute;
  right: 70px;
  bottom: -16px;
}
aside.content {
  position: absolute;
  width: 68%;
  background: white;
  top: 0;
}

#last-crescent {
  z-index: -1000;
  /* background-color: green; */
}

#last-crescent.active {
  background-color: red;
  left:320px;
}

.timeline {
  width: 33%;
  /* position: fixed; */
  left: 0;
  top: 0pt;
}
aside.time-travel {
  width: 30%;
  height: 900px;
  margin-top: 190px;
  position: absolute;
}
aside.time-travel span {
  margin: auto;
  vertical-align: middle;
  position: absolute;
  bottom: 213px;
}

.loop-title {
font-size: 0.95em;
}

.full-moon {
  text-align: left;
  top: 0;
}
.first-crescent {
  text-align: left;
}
.last-crescent {
  text-align: right;
  right: 0;
}
.full-moon::before {
  content: url("img/arrow-bottom-smaller.png");
  margin-right: 10px;
  vertical-align: sub;
}
.first-crescent::before {
  content: url("img/arrow-left-smaller.png");
  /* vertical-align: sub; */
  margin-right: 10px;
}
.last-crescent::after {
  content: url("img/arrow-smaller.png");
  /* vertical-align: sub; */
  margin-left: 10px;
}
div.last-crescent {
  text-align: left;
  flex: 0 0 8%;
  padding: 0 30px;
  z-index: 1000;
}
.accordeon {
  background-image: url(img/accordeon.png);
  background-repeat-y: no-repeat;
  background-size: 53%;
  background-position: 0px 46px;
  z-index: 1000;
  flex: 0 0 15%;
}
#timeline {
  position: absolute;
  right: 94px;
  top: 161px;
  height: 43vh;
}
.cycle {
  flex: 2 0 10%;
  left: 33%
}
.timeline img {
      width: 94%;
}
article.day figure.preview {
  margin-right: -30px;
  margin-left: -30px;
}
article.day {
  width: 19%;
  flex: 3 0 23%;
  overflow-y: scroll;
  max-height: 1170px;
  padding-right: 30px;
  padding-left: 30px;
  }
section.many-days {
  height: 100%;
}
.many-days .event {
  position: sticky;
  top: 2em;
}

.content-day div.event {
  margin-bottom: 10px;
  width: 100%;
  float: left;
}
.content-day div.event.active,
.content-continious div.event.active {
  width: 100%;
}
.content-continious div.event {
  margin: 0 0px;
  padding: 10px 10px;
  flex: 1 0 33%;
  margin-right: 10px;
  max-width: 500px;
}

.day div.event:hover {
  color: var(--rose);
}

div.bloc-date {

  margin-bottom: 23px;
  font-family: 'Syne';
  font-weight: 900;
  text-transform: uppercase;
  position: sticky;
  top: 0em;
}

figure img {
  width: 100%;
}

.content-continious figure.preview {
  max-height: 75px;
  float: left;
  margin-right: 10px;
}
.content-continious figure.preview img {
  width: auto;
  height: 75px;
}

/* event detail */

span.detail {
  display: none;
}
#container {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 0;
  background: white;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;

  border-top: 3px solid;
  font-size: 1.2em;
}
#container.active {
  display: block;
  z-index: 1001;
}
#container .event {
  height: 100%;
}
#container span.detail {
  display: flex;
  flex-direction: row;
  width: 170%;
  height: 100%;
  position: absolute;
}
#container.active .preview {
  display: none;
}
#container.active .header {
  border-bottom: 3px solid;
  padding: 20px;
}
#container.active .show-infos {
  width: 90%;
}
#container .button-close {
  right: 110px;
  position: absolute;
  top: 30px;
}
#container .button-close::before {
  content: "×" ;
  margin-right: 3px;
  vertical-align: middle;
}
#container .title {
  text-transform: uppercase;
}
.thumbnail-pictures {
  display: none;
}
#container .thumbnail-pictures {
    display: inline-block;
}
#container .thumbnail-pictures figure {
  max-width: 30px;
  display: inline-block;
}
.thumbnail.on {
  border: 3px solid var(--pink);
}

/* //// detail event photo part on the left */

/* ============ chat =========== */

.chat {
  position: absolute;
  width: 16.9%;
  left: 20px;
  color: black;
  background-color: white;
  border: 3px solid black;
  bottom: 110px;
  font-size: 0.7em;
  line-height: 1em;
}
.chat-header {
  border-bottom: 3px solid black;
  padding: 10px;
  position: relative;
}
.notification.open a {
  content: url(img/arrow-top-smaller.png);
  /* filter: invert(1); */
  position: absolute;
  right: 15px;
}
.posts {
  padding: 10px;

}


/* ============ photo =========== */

#container .detail-photo {
  flex: 1 0;
  border-right: 3px solid;
  height: 100%;
  position: relative;
  background-color: black;
}
#container figure.cover {
  position: relative;
}
#container figure.cover::before {
  content: url(img/arrow-left-smaller.png);
  z-index: 2000;
  position: absolute;
  top: 43%;
  left: 20px;
  filter: invert(1);
}
#container figure.cover::after {
  content: url(img/arrow-smaller.png);
  z-index: 2000;
  position: absolute;
  top: 43%;
  right: 20px;
  filter: invert(1);
}


.detail.look-left {
  left: 0px;
}

#detail-photo.looking-away {

}
div#detail-photo:hover{
  position: relative;
  left: 0px;
  outline: 3px solid black;
  background-image: linear-gradient(to left, black, white 40%);
  /* color: var(--blue-moon); */
}
div#detail-photo.looking-away:hover figure.cover {
  visibility: hidden;
}
#container .detail-photo .next::before {
  content: url(img/arrow-left-smaller.png);
  margin-right: 10px;
  filter: invert(1);
}

div#detail-photo:hover span.next {
  display: block;
  position: absolute;
  width: 100px;
  color: white;
  right: 20px;
  z-index: 2001;
  padding-right: 0px;
}

#detail-photo.looking-at {
  right: 0px;
}

#detail-photo span.next {
   display: none;
   padding: 20px;
}
#detail-photo.looking-at:hover span.next {
  display: none;
}
#detail-photo.looking-at:hover {
  /* outline: 0px solid var(--blue-moon); */
  background-image: none;
  color: initial;
}


/* //// detail event text part on the right */


/* =========== text ============= */

#container .description {
  font-family: "LM";
  font-style: normal;
}
#container .note {
  display: block;
  vertical-align: top;
  padding: 10pt 0pt;
}
#container .intro-texte {
  flex: 1 0;
  position: relative;
}
#container .intro-texte .next::before {
  content: url(img/arrow-smaller.png);
  margin-right: 10px;
  filter: invert(1);
}
#container .intro-texte .next::before:hover {
  color: red;
}
div#detail-text:hover{
  position: relative;
  left: 0px;
  outline: 3px solid black;
  background-image: linear-gradient(to right, black, white 40%);
  color: black;
}
span.next {
   display: none;
   padding: 20px;
}
div#detail-text:hover span.next {
  display: block;
  position: absolute;
  width: 100px;
  color: white;
}
.detail.look-right {
  right: 0px;
}
#detail-text.looking-at {
  right: 0px;
}
#detail-text.looking-at:hover span.next {
  display: none;
}
#detail-text.looking-at:hover {
  /* outline: 0px solid var(--blue-moon); */
  background-image: none;
  color: initial;
}
.detail-text-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
}
.detail-text-right > div {
  padding: 20px;
  padding-top: 0px;
}
.detail-text-right .description {
  flex: 2 0 0;
  border-right: 2px solid black;
  overflow-y: auto;
}
.exerp {
  font-family: "syne";
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
}

/* =========== meta infos =========== */
.detail-text-right .meta-infos {
  flex: 1 0 0;
  overflow-y: auto;
}

dt {
  font-family: "syne";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1em;
}
dd {
  font-family: "Syne";
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 1.2em;
}
dd + dt {
  margin-top: 12pt;
}

/* social media */

div.social {
  width:100%;
  column-count: 3;
  font-size: 0.8em;
  line-height: 1.3em;
    margin-top: 10px;
    column-gap:25px;
    word-wrap: break-word;
}
.username {
  font: 1em 'Syne';
  font-weight: 900;
  word-break: break-all;
}
.likes::before {
  font: 1em 'Contour';
  content: ' \00A0\004D';
  display: inline-block;
}
.share::before {
  font: 1em 'Contour';
  content: ' \00A0\004E';
  display: inline-block;
}
.post::before {
  font: 1em 'Contour';
  content: ' \00A0\0050';
  display: inline-block;
}
.comment::before {
  font: 1em 'Contour';
  content: ' \00A0\004B';
  display: inline-block;
}
  /* time positioning schetch */

#thomas-more-school-presentation {
      height: 400px;
      margin-top: 200px;
}
#thomas-more-school-lecture-performance-mark-pozlep {
  height: 437px;
  margin-top: 50px;
}
#zennegat-flotation-school {
  height: 460px;
}
#nona-Presentation-picha {
  margin-top: 10px;
  height: 200px;
}
#nona-lecture-workshop-léopold-lambert {
  margin-top: 300px;
  height: 383px;
}
#nona-lunch-welcome-in-mechelen {
    height: 100px;
}
#nona-film-screening-christian-nyampeta {
    height: 300px;
}
#ROJM-diner {
  margin-top: 200px;
height: 100px;
}
#nona-film-screening-daniela-ortiz {
  height: 371px;
  margin-top: 50px;
}
#nona-concert-melvin-gibbs {
  height: 100px;
}
#nona-talk-picha-tradeoff {
  height: 500px;
  margin-top: 600px;
}


/* ////// dragable event detail //// */
